<h1>Home</h1>
{{#each allPosts}}
    <a class="post" id="{{id}}" href="/post/{{id}}">
        <h4>{{title}}</h4>
        <p>Posted by {{User.username}} on {{#if updatedAt}}{{updatedAt}}{{else}}{{createdAt}}{{/if}}.</p>
        <h5>{{content}}</h5>
    </a>
    <hr>
{{/each}}
