<h2>{{post}}</h2>
<p>Posted by {{user.username}} at {{post.time}}.</p>
<h3>{{post.content}}</h3>
<button id="comment-btn">Comment</button>

{{#each comment}}
    <h3>{{content}}</h3>
    <p>Commented by {{user.username}} at {{comment.time}}.</p>
{{/each}}