{{#each singlePost}}
<h2>{{title}}</h2>
<p>Posted by {{user.username}} at {{#if updatedAt}}{{updatedAt}}{{else}}{{createdAt}}{{/if}}.</p>
<h3>{{content}}</h3>
<button id="comment-btn">Comment</button>
{{/each}}

{{#each comments}}
    <h3>{{content}}</h3>
    <p>Commented by {{user.username}} at {{#if updatedAt}}{{updatedAt}}{{else}}{{createdAt}}{{/if}}.</p>
{{/each}}